include:
  - project: 'vincenttunru/ci-templates'
    file: '/npm-node12.gitlab-ci.yml'
image: node:14

build:
  stage: build
  script:
  - npm ci
  - npm run build

test:
  stage: test
  script:
    - npm test
